extends layout_admin

block content
    h2 🏠/  Les biens

    .headRealty
        h3 Enregistrer un bien 
        .adminButton.realtyList
            a(href="/admin/realtyList") Listes des biens
        //- button.realtyList Listes des biens

    .contentForm 
    
        .flash_msg 
            - var messages = getMessages()
                if messages.notify
                    each msg in messages.notify
                        .alert.alert-info= msg
                if messages.error
                    each msg in messages.error
                        .alert.alert-danger= msg

        form.form_realty(action="/admin/biensImmo", method="post", enctype="multipart/form-data")
            .form1 Adresse du bien
                //- legend Adresse du bien
                .sellerName
                    label(for="seller") Nom du vendeur: 
                    input(
                        type="text"
                        , name="seller"
                        , class="formInput seller"
                        )
                .adressForm
                    label(for="adress") Adresse du bien : 
                    input(
                        type="text"
                        , name="adress"
                        , class="formInput adress"
                        )
                .postalCodeForm
                    label(for="postalCode") Code postal : 
                    input(
                        type="number"
                        , name="postalCode"
                        , class="formInput postalCode"
                        )
                .cityForm 
                    label(for="city") Ville : 
                    input(
                        type="text"
                        , name="city"
                        , class="formInput city"
                        )
                .realtyDescription 
                    label(for="surface") Surface (m²) : 
                        input(
                            type="text"
                            , name="surface"
                            , class="formInput surface"
                            )
                    label(for="room") Nb de pièces : 
                        input(
                            type="text"
                            , name="room"
                            , class="formInput room"
                            )
                .realtyDescription 
                    label(for="rent") Loyer : 
                        input(
                            type="Number"
                            , name="rent"
                            , class="formInput rent"
                            )
                    label(for="type_realty") Type de bien : 
                        select(name="type_realty", class="formInput type_realty")
                            option(value="Appartement") Appartement 
                            option(value="Maison") Maison
                .infoForm
                    label(for="infosAdress") Informations complémentaires : 
                    textarea(
                        name="infosAdress"
                        , class="texteArea infos"
                        )
                


            .form2 Contact du bien
                //- legend 
                .lastNameForm
                    label(for="contactName") Nom: 
                    input(
                        type="text"
                        , name="contactName"
                        , class="formInput contactName"
                        )
                .firstNameForm
                    label(for="contactFirstName") Prénom : 
                    input(
                        type="text"
                        , name="contactFirstName"
                        , class="formInput contactFirstName"
                        )
                .emailForm
                    label(for="mail") Email: 
                    input(
                        type="email"
                        , name="mail"
                        , class="formInput mail"
                        )
                .phoneForm 
                    label(for="phoneNumber") Téléphone : 
                    input(
                        type="tel"
                        , name="phoneNumber"
                        , class="formInput phoneNumber"
                        )
                .infoForm
                    label(for="infosContact") Informations complémentaires : 
                    textarea(
                        name="infosContact"
                        , class="texteArea info2"
                        ) 
                //- emplacement de drag and drop 
                .lcUpload__block 
                    .lcUpload__input
                        input.lcUpload__file(type="file" name="photos" id="file" data-multiple-caption="{count} fichiers sélectionnés" multiple)
                        label(for="file")
                            strong Charger des images
                            span.lcUpload__dragndrop  ou glissez les ici
                .checked
                    input(type="submit",class='formInput check' value="Enregistrer") 