doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    //- link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous")

  body

    .container 
      nav  
        .logo TeLoger
        if user
          if user.role== 'admin'
            ul
              each val in [{lien:'/',text:'Accueil'},{lien:'/admin/dashboard',text:'Admin'},{lien:'/logout',text:'Se déconnecter'},{lien:'/contact',text:'Contact'}]
                li
                  a(class=val.class,href=val.lien) #{val.text}
          else 
            ul
              each val in [{lien:'/',text:'Accueil'},{lien:'/logout',text:'Se déconnecter'},{lien:'/contact',text:'Contact'}]
                li
                  a(class=val.class,href=val.lien) #{val.text}
        else
            ul
              each val in [{lien:'/',text:'Accueil'},{lien:'/register',text:'Inscription'},{lien:'/login',text:'Se connecter'},{lien:'/contact',text:'Contact'}]
                li
                  a(class=val.class,href=val.lien) #{val.text}

      - var messages = getMessages()
        if messages.notify
          each msg in messages.notify
            .alert.alert-info= msg
        if messages.error
          each msg in messages.error
            .alert.alert-danger= msg
            
    .content_page
      block content

      

    //- script(src=process.env.BROWSER_REFRESH_URL)