extends layout

block content

    .home_container 
        .oneRealty
            .head_realty
                h3=realties.realtyAdress.type_realty + ' ' + realties.realtyAdress.surface + 'm² ' + realties.realtyAdress.postalCode
            .price=realties.realtyAdress.rent + '€ par mois' 

            .image
                each image in realties.url_images   
                    input(type="hidden", name="url_images", class='url_images' value=image)
                .carousel
                    ul.carousel_wrapper
                    button.carousel_button.left &lt;
                    button.carousel_button.right &gt;


            .info_realty 
                p.type_realty=realties.realtyAdress.type_realty+' - '+ realties.realtyAdress.room + ' pièces'
                p.location=realties.realtyAdress.adress+' '+realties.realtyAdress.postalCode+' '+realties.realtyAdress.city 
                p.infos=realties.realtyAdress.infosAdress

        