extends ../layout

block content

	h1 Inscrivez-vous 

	form.formRegister(action="/inscription", method="post") 
		input(type='hidden', name='csrf', value=token_csrf)
		.mail
			label(for="email") Adresse E-mail :
			input(
				type="email"
				, name="email"
				,class="formInput email"
				,required
				)
		.psw
			label(for="pass") mot de passe :
			input(
				type="password"
				, name="pass"
				,class="formInput pass"
				,minLength="6"
				,required
				)
		.civility 
			select(name="civility", class="formInput gender")
				option(value="male") Monsieur 
				option(value="female") Madame
		.firstName
			label(for="prenom") prénom : 
			input(
				type="text"
				, name="prenom"
				, class="formInput prenom"
				)
		.lastName
			label(for="nom") Nom de famille :
			input(
				type="text"
				, name="nom"
				, class="formInput nom"
				)
		.phoneNumber
				label(for="phone") Téléphone : 
				input(
					type="tel"
					, name="phone"
					, class= "formInput phone"
					)
		.checked
			input(type="submit",class='formInput check' value="Enregistrer")

		.alreadyRegister
			p J'ai déjà un compte, 
				a(href='/login') se connecter